.worldcup-btn{
  display: flex;
  justify-content: center;
  position: relative;
  .worldcup_ball_pic{
    width: .81rem;
    height: .73rem;
    background: url(./images/worldcup_ball_pic.png) no-repeat;
    background-size: .81rem auto;
    display:block;
    position: absolute;
    margin-left: -1.2rem;
    left: 50%;
    top: -.24rem;
  }
  button{
    padding-left: 1.1rem;
    padding-right: .35rem;
    border-radius: .3rem;
    height: .6rem;
    font-size: .4rem;
    color:#c3040f;
    background: linear-gradient(top,#fff3cb,#d99400);
    background: -webkit-linear-gradient(top,#fff3cb,#d99400);
    box-shadow: 0 .03rem .03rem 0 #650006;
  }
}

.worldcup-rule {
  position: absolute;
  right: .7rem;
  top: .7rem;
  button{
    border-radius: .1rem;
    width: 1.44rem;
    height: .42rem;
    background:#ffb605;
    color:#640208;
    font-size: .27rem;
    box-shadow:  .03rem .06rem 0 0 #fe7716;
  }
}

.worldcup-prize-wrapper{
  position: absolute;
  width:100%;
  top:6.22rem;
}

.worldcup-view{
  background: #002655;
}
.worldcup-bg{
  width: 100%;
  height: 11.62rem;
  background:url(http://images2.laiyifen.com/imagespace/2018060710/289f0260-7286-4da4-920b-72099156db73.jpg) #002655 no-repeat;
  background-size: 100% auto;
}
.worldcup-scroll-text{
  position: absolute;
  left:.24rem;
  top:.6rem;
  z-index:99;
  width: 4.5rem;
  height: .54rem;
}
