.svip_member_price{
  height: 1.12rem;
  background: #343942;
  padding: 0 .54rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p{
    font-size: .26rem;
    color: #fefbfb;
    strong{
      color: #ecb981;

    }
    i{
      padding-left: .06rem;
      font-size: .22rem;
      color: #ecb981;
    }
  }
  .svip_price_icon{
    width: .52rem;
    height: .52rem;
    background:url(/src/views/svip/images/activity_sprite.png) -1.8rem -.64rem no-repeat;
    background-size: 5rem auto;
  }
}

.svip_card_info{
  display: flex;
  align-items: center;
  .svip_card_info_price{
    color:#fef7c7;
    i{
      font-size: .36rem;
    }
    strong{
      font-size: .8rem;
    }
    span {
      font-size: .3rem;
    }
  }
}
.svip_card_info_txt{
  padding-left: .14rem;
  span{
    color: #fefefe;
    font-size: .2rem;
    text-decoration: line-through;
  }
  p{
    font-size: .32rem;
    color: #fef7c7;
  }
}
.svip_member_date{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: .6rem;
  span{
    color: #fefbf7;
  }
  button {
    width: 1.6rem;
    height: .6rem;
    border: .03rem solid #fcfaeb;
    background: transparent;
    color: #fcfaf8;
    border-radius: .24rem;
  }
}

.svip_member_txt{
  color: #fff;
  padding-left: .16rem;
  p{
    font-size: .32rem;
  }
  span{
    color: #fefdfb;
  }
}

.svip_member_info{
  display: flex;
  img {
    width: .92rem;
    height: .92rem;
    border-radius: 50%;
    border: .03rem solid #f9dc8a;
    box-sizing: border-box;
  }
}

.svip_member_card_wrapper{
  padding: 0 .54rem;
  background: #343942;
}

.svip_member_card{
  height: 3rem;
  border-top-left-radius: .15rem;
  border-top-right-radius: .15rem;
  background: linear-gradient(-28deg, #f2bc80, #b7843f);
}

.svip_member_bg{
  padding: .5rem .33rem 0 .4rem;
  height: 3rem;
  background:url(../../images/svip_member_icon.png) no-repeat right bottom;
  background-size: 4.86rem auto;

}
