.redpack-view{
  background: linear-gradient(to bottom,#7394f3,#3c157f);
  padding: 0 .3rem;
  position: relative;
  overflow: hidden;
}
.redpack-bg{
  background-size: 100% auto;
  height: 6.12rem;
}

.redpack-content{
  padding: .38rem .48rem .6rem;
  background: #fff;
  border-top-left-radius: .15rem;
  border-top-right-radius: .15rem;
  position: relative;
  width: 6.9rem;
  margin: 0 auto;
  z-index:10;
}

.redpack-share-btn{
  border-radius: .5rem;
  background: linear-gradient(to bottom,#fbf5ba,#f0b432);
  height: .8rem;
  display: flex;
  justify-content:center;
  align-items: center;
  span{
    color:#8b2902;
    font-size: .36rem;
  }
}

.redpack-view-bg1{
  width: .36rem;
  position: absolute;
  left:0;
  top:0;
  height: 100%;
  z-index:5;
  background: linear-gradient(to bottom,#7495f3,#3c157f);
}

.redpack-view-bg2{
  width: .36rem;
  position: absolute;
  right:0;
  top:0;
  height: 100%;
  z-index:5;
  background: linear-gradient(to bottom,#8574e6,#3c157f);
  span{
    width: .27rem;
    height: 1.07rem;
    display: block;
    background: url('./images/redpack-view-bg1.png') no-repeat;
    background-size: .27rem auto;
    position: absolute;
    left:0.05rem;
    top: .84rem;
  }
}

